@model NewsletterViewModel

<div class="top-newsletter">
    <div class="newsletter-header">
        <h1>@Model.Title</h1>
        <p>@Model.Description</p>
        <img src="@Model.Image.ImageURL" alt="@Model.Image.AltText">
    </div>

    <div class="newsletter-checkboxes">
        @foreach(var item in Model.Options)
        {
            <label class="Checkbox">
                <input type="checkbox" name="@item.Name" id=""> @item.Name
            </label>
        }
    </div>
    <form method="post" asp-controller="Home" asp-action="NewsletterSubscribe">
        <div class="newsletters-email">
            <label asp-for=Newsletter></label>
            <input asp-for=Newsletter.Email />
            <span asp-validation-for="Newsletter" class="error error-styling"></span>
            <button type="submit" class="btn-theme" formmethod="post">Subscribe*</button>
            <p>* Yes, I agree to the <a href="@Model.TermsLink">@Model.TermsLink.Text</a> and <a href="@Model.PrivacyLink">privacy</a>@Model.PrivacyLink.Text</p>
        </div>
    </form>
</div>
