@model ShowcaseViewModel


<section id="Showcase" class="top-management">
    <div class="management-left">
        <h1>@Model.Title</h1>
        <p>@Model.Text</p>
        <div class="center-button">
            <button class="btn-theme-s" asp-controller="Auth" asp-action="SignUp">Get started for free</button>
        </div>
        <h3>@Model.BrandText</h3>
        <div class="center">
            @if (Model.Brands != null)
            {
                foreach (var brand in Model.Brands)
                {
                    <img src="@brand.ImageURL" alt="@brand.AltText">
                }

            }
        </div>
    </div>

    <div class="management-right">
        <img src="@Model.ShowcaseImage.ImageURL" alt="@Model.ShowcaseImage.AltText">
    </div>
</section>


